
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Merriweather:wght@300&display=swap');
.main_tittle
{
    font-family: 'Kaisei Decol', serif;
    text-align: center;
}
hr.solid
{
    border-top: 1px solid;
}
.consumed
{
    background-color:#D9D9D9;
}
.tittle_consumed
{
    text-align: center;
    font-family: 'Merriweather', serif;
}
.general_info_text
{
    text-align: center;
    padding-bottom: 40px;
    font-family: 'Merriweather', serif;
}
.device_consumed
{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-family: 'Merriweather', serif;
}
.device_consumed p
{
    font-size:medium;
    font-family: 'Merriweather', serif;
}
.image_bulb
{
    display: flex;
    justify-content: right;   
}
.image_bulb img
{
    width: 5%;
    height: 4%;
    padding-right: 40px;
}

.graph{
    display: flex;
    justify-content: center;
}