@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Merriweather:wght@300&display=swap%27');

*{
    border: 0px solid black;
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Colors*/
    --body-color: #e7ecef;
    --sidebar-color: #ffd60a;
    --primary-color: #000000;
    --primary-color-light: #ffffff;
    --toggle-color: #dee2e6;
    --text-color: #000814;
    --footer-color: #1b263b;

    /*Transition time*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.gridcontainer{
    display: grid;
    grid-template-areas: 
        "navbar header"
        "navbar content"
        "footer footer";

    grid-template-columns: 6% 94% ;
    grid-template-rows: 10% 70% 20%;
}

nav{
    grid-area: navbar;
    border-right: solid 1px black;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
    margin-top: 5px;
    transition: var(--tran-05);
    font-family: 'Poppins', sans-serif;
}

.sidebar .image{
    min-width: 50px;
    display: flex;
    align-items: center;
}

/*Hamburguesa*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 210px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    z-index: 999;
    
}

.sidebar.close{
    width: 6%;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar li .icon{
    font-size: 28px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sidebar li .icon, .sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02)
}


.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar header{
    position: relative;
    transition: var(--tran-05);
}
/*logo*/
.sidebar .image-text img{
    width: 58px;
    border-radius: 3px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav-header{
    padding-bottom: 5px;
}

.header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 100%;
}

.header-text .usuario{
    font-weight: 100%;
    font-family: 'Poppins', sans-serif;

}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -27px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 30px;
    transition: var(--tran-03);
    cursor: pointer;
}

.sidebar.close header .toggle{
    transform: translateY(-50%) rotate(180deg);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
    margin-top: 50px;
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon, .sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    grid-area: content;
    display: flex;
    align-items: center;
}

header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110%;
    
}
.line{
    border-bottom: 1px solid black;
}
#frame1{
    background-color: lightgrey;
    margin: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
  
}

#ini-image{
    height: 25%;
    width: 25%;
    margin: 20px auto;
}

.subtext{
    margin: 4px auto;
    text-align: center;
}

#image-text-header{
    margin: 4px auto;
}

.sec-div-header{
    padding: 10px;
    margin: 12px auto;
    vertical-align: middle;
    position: relative;
}

#logo-subimage{
    height: 100px;
    width: 100px;
    margin: 0px auto;
}

#group{
   align-content: center;
}

p{
    margin: 10px auto;
    text-align: center;
    width: 65%;
    font-size: 80%;
}

footer{
    grid-area: footer;
    font-weight: 400;
    padding: 40px 0;
    background-color: var(--primary-color);
}

footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--body-color);
}

footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #e7ecef;
    height: 40px;
    line-height: 45px;
    width: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    
}

footer .social a:hover{
    opacity: 0.9;
}

footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 10px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;;
}

footer ul li a{
    color:inherit;
    text-decoration: none;
    opacity: 0.8;
    color: var(--body-color);
}

footer ul li{
    display: inline-block;
    padding: 0 15px;
}

footer ul li a:hover{
    opacity: 1;
}

footer .copyright{
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: gray;
}
