*{
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

#tips{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(red, green, blue, alpha);
}

.tips-heading span{
  color: blue;
  font-size: 30px;
  margin: 20px;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 1em;
}

main {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.tips-heading {
  text-align: center;
}


.tips-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tips-container iframe {
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
}

.tips-texto {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 1em;
  text-justify: distribute-all-lines;
  margin-top: 50px;
}

.tips-container {
  margin-top: 1em;
}

.tips-lista{
  line-height: 1.5;
  margin-bottom: 1em;
  text-justify: distribute-all-lines;
}
